html {
  font-size: 10px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
}




