.mainContainer{
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
}

.secContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secContainer ul{
  padding: 0;
}

.price{
  align-self: flex-end;

  margin-right: 3rem;
  margin-bottom: 1rem;

  font-size: 24px;
  color: black;
}

.buy{
  align-self: flex-end;
}

.buy button{
  flex: 0 1 auto;
  display: inline-block;

  margin: 0.4rem 0.2rem;
  padding: 1.6rem 3.2rem;

  font-size: 18px;
  color: black;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  border: none;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
}

.buy button:hover {
  background-color: #e7e7e7;
}

.buy button:disabled{
  opacity: 0.3;
}

.buy button:disabled:hover{
  background-color: white;
}
