.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 3rem;
    align-self: center;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
    max-width: 60rem;
}

.item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.item label {
    color: darkgray;
    font-family: arial, serif;
    font-size: 18px;
    align-self: center;
    margin-right: 2rem;
}

.item input{
    text-indent: 1rem;
}
.item select{
    text-indent: 0.7rem;
}

.item input, .item select{
    margin: 0;
    width: 30rem;
    height: 3rem;
    border: none;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
    color: #333333;
    font-size: 16px;
}

.item input::placeholder {
    color: darkgray;
    opacity: 0.8; /* Firefox */
}

.price{
    margin-right: 3rem;
    margin-bottom: 1rem;
    align-self: flex-end;
    color: darkgray;
    font-size: 18px;
    border-bottom: 1px solid rgba(191, 191, 191, 0.49);
}

.price.total{
    font-size: 24px;
    color: black;
}