.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container button{
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    color: #636363;
    border: none;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
    background: #fff;
    cursor: pointer;
}

.container button:hover{
    background-color: #e7e7e7;
}

.container input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin-right: 0;
}

.container input{
    width: 2rem;
    border: none;
    text-align: center;
    color: #636363;
}
